<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DESSAU.ControlGestion.Core.Properties.Settings.DESSAU_ControlGestionConnectionString"
            connectionString="Data Source=.;Initial Catalog=DESSAU_ControlGestion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>