@model DESSAU.ControlGestion.Web.Models.EWPModels.ListarSubEWPViewModel

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sub EWP's</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"></ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Búsqueda amplia" name="filtro" id="input-filtro" value="@Model.filtro">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
            @Html.ActionLink("Agregar", "CrearEditarSubEWP", null, new { @class = "btn btn-primary navbar-btn navbar-right" })
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager(Model.SubEWPs, page => Url.Action("ListarSubEWP", new
   {
       pagina = page,
       filtro = Model.filtro
   }))
        @(Html.Grid(Model.SubEWPs)
        .Attributes(@class => "table table-striped")
        .Columns(col =>
        {
            col.For(x => x.Codigo).Named("Código SubEWP");
            col.For(x => x.EWP.Codigo).Named("EWP");
            col.For(x => x.EWP.Nombre).Named("");
            col.For(x => Html.ButtonIconActionLink("pencil", "Editar SubEWP", "CrearEditarSubEWP", null, null, new { IdSubEWP = x.IdSubEWP }));
        }).Empty("No se han encontrado registros asociados a los filtros seleccionados"))
    </div>
</div>