
@{
    ViewBag.Title = "SinAsignacionODS";
}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sin Asignación a ODS</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        
    </div>
</nav>

<div class="row">
    <div class="col-md-12">
       <h3>Usted no ha sido correctamente asignado a una ODS y a una Disciplina sobre el sistema. Favor contactarse con Admin.</h3>
    </div>
</div>

