body { 
    padding-bottom: 70px; 
}

.menu-item-salir {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

a[disabled] {
    pointer-events: none;
}

.navbar-inverse {
  background-color: #265c81 !important;
  border-color: #327fb4 !important;
}
.navbar-inverse .navbar-brand {
  color: #ffffff !important;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #dfdce3 !important;
}
.navbar-inverse .navbar-text {
  color: #ffffff !important;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff !important;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #dfdce3 !important;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #dfdce3 !important;
  background-color: #327fb4 !important;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #dfdce3 !important;
  background-color: #327fb4 !important;
}
.navbar-inverse .navbar-toggle {
  border-color: #327fb4 !important;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #327fb4 !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff !important;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #ffffff !important;
}
.navbar-inverse .navbar-link {
  color: #ffffff !important;
}
.navbar-inverse .navbar-link:hover {
  color: #dfdce3 !important;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff !important;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dfdce3 !important;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #dfdce3 !important;
    background-color: #327fb4 !important;
  }
}

/*TimeSheet*/
.totales {
    border: 1px solid black;
}

.spinner {
    width: 100px;
}

.spinner input {
    text-align: right;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 3px;
}

