@model DESSAU.ControlGestion.Web.Models.NominaModels.VerNominaViewModel

@{
    ViewBag.Title = "DESSAU";
}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nóminas</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"></ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    @Html.DropDownListFor(x => x.Form.IdProyecto, Model.Proyectos, "Seleccione un Proyecto", new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager(Model.Nominas, page => Url.Action("VerNomina", new
   {
       pagina = page
   }))
        @(Html.Grid(Model.Nominas)
        .Attributes(@class => "table table-striped")
        .Columns(col =>
        {
            col.For(x => x.Usuario.ApellidoNombre).Named("Nombre Completo");
            col.For(x => x.Categoria.Nombre).Named("Categoría");
            col.For(x => x.PlanificacionOk ? Html.Raw("<i class='fa fa-check-square' aria-hidden='true'></i>") 
                : Html.Raw("<i class='fa fa-exclamation-triangle' aria-hidden='true'></i>"))
                .Named("Estado Planificación").DoNotEncode();
            col.For(x => x.DeclaracionOk ? Html.Raw("<i class='fa fa-check-square' aria-hidden='true'></i>") 
                : Html.Raw("<i class='fa fa-exclamation-triangle' aria-hidden='true'></i>"))
                .Named("Estado Declaración").DoNotEncode();
        }).Empty("No se han encontrado profesionales asignados a este proyecto"))
    </div>
</div>
