@model DESSAU.ControlGestion.Web.Models.TimeSheetModels.VerTimeSheetViewModel

@{
    ViewBag.Title = "VerTimeSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h2>Hoja de Planificación</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Get)) {


        }
    </div>
</div>

